<p>footer works!</p>
<footer class="footer">

  <div class="footer-content">

    <div>
      <h3>WishStore</h3>

      <p>
        Plataforma para descubrir y guardar
        productos favoritos.
      </p>
    </div>

    <div>
      <h4>Navegación</h4>

      <a routerLink="/">Inicio</a>
      <a routerLink="/catalog">Catálogo</a>
      <a routerLink="/wishlist">Wishlist</a>
      <a routerLink="/history">Historial</a>
    </div>

  </div>

  <div class="copyright">
    © 2026 WishStore. Todos los derechos reservados.
  </div>

</footer>